@font-face {
    font-family: neversaydie;
    src: url(../fonts/neversaydie.regular.ttf);
}

input::-webkit-input-placeholder { font-family: neversaydie; }
input::-moz-placeholder { font-family: neversaydie; }
input:-ms-input-placeholder { font-family: neversaydie; }
input:-moz-placeholder { font-family: neversaydie; }

body {
	background-color: #000000;
}

.container {
	margin: 0px auto;
	background-color: #000000;
	color: #ffffff;
	width: 820px;
	height: 100%;
	padding: 0 10px 0 10px;
}

.header {
	margin: 0px auto;
	width: 770px;
}

.headerLogo {
	float: left;
}

.headerSearch {
	float: right;
	margin: 30px 0 0 0;
	font-family: neversaydie;
}

.clear {
	clear: both;
}

.textbox { 
    background: #6e6e6e;
    height:25px;
    width: 200px;
    border-radius: 2em;
    border: none;
    color: #A2A2A2;
    padding-left: 1.5em;
    outline: none;
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%)
} 


.nav {
	font-family: neversaydie;
	margin: 0px auto;
	width: 730px;
	font-size: 15pt;
}

.nav a {
	text-decoration: none;
	color: #ffffff;
}

a:visited {
	color: #ffffff;
}

a:hover {
	color: #ffffff;
}

.imgSlider {
	margin: 0px auto;
	width: 800px;
	padding-top: 25px;
}

.NaE {
	width: 800px;
	font-family: neversaydie;
	padding: 0 0 0 25px;
}

.newsContainer {
	width: 790px;
	height: 335px;
}

#newsItem1 {
	text-align: left;
	float: left;
	width: 243px;
	height: 335px;
	margin: 0 20px 0 10px;
}

#newsItem2 {
	text-align: left;
	float: left;
	width: 243px;
	height: 335px;
	margin-right: 20px;
}

#newsItem3 {
	text-align: left;
	float: left;
	width: 243px;
	height: 335px;
}

.newsPlaceholder {
	width: 243px;
	height: 168px;
}

.newsContent {
	font-family: neversaydie;
	color: #000000;
	width: 243px;
	height: 167px;
	background-color: #ffffff;
}

.newsContent p {
	margin-left:10px;
	font-family: Arial;
}

.newsContent a {
	color: red;
}

.newsContent a:hover {
	color: red;
}

.newsContent a:visited {
	color: red;
}

.aboutContent {
	padding: 0px 5px 0 5px;
	width: 729px;
	height: 298px;
	background-color: #4a4a4a;
	text-align: left;
}

.branchesContainer {
	width: 739px;
	height: 370px;
}

#branches1Container {
	float: left;
	width: 175px;
	height: 370px;
	background-color: #4a4a4a;
	margin-right: 10px;
}

#branches2Container {
	float: left;
	width: 175px;
	height: 370px;
	background-color: #4a4a4a;
	margin-right: 10px;
}
#branches3Container {
	float: left;
	width: 175px;
	height: 370px;
	background-color: #4a4a4a;
	margin-right: 10px;
}
#branches4Container {
	float: left;
	width: 175px;
	height: 370px;
	background-color: #4a4a4a;
}

.servicesTitleContainer {
	float: left;
	width: 165px;
	height: 494px;
	margin: 0 0 0 30px;
}

.servicesTitle1 {
	width: 135px;
	height: 30px;
	background: #4a4a4a;
	border-radius: 10px;
	text-align: center;
	margin: 0 0 5px 0;
	padding: 10px 10px 15px 10px;
	cursor: pointer;
}

.servicesTitle2 {
	width: 135px;
	height: 20px;
	background: #4a4a4a;
	border-radius: 10px;
	text-align: center;
	margin: 0 0 5px 0;
	padding: 20px 10px 15px 10px;
	cursor: pointer;
}

.servicesTitle3 {
	width: 135px;
	height: 55px;
	background: #4a4a4a;
	border-radius: 10px;
	text-align: center;
	margin: 0 0 5px 0;
	padding: 0px 10px 0px 10px;
	cursor: pointer;
}

.servicesTitle4 {
	width: 155px;
	height: 74px;
	background: #4a4a4a;
	border-radius: 10px;
	text-align: center;
	margin: 0 0 5px 0;
	padding: 0px 0px 0px 0px;
	cursor: pointer;
}

.servicesTitleContainer a {
	text-decoration: none;
}

.articleContainer {
	background-color: #4a4a4a;
	width: 800px;
	padding: 0 10px 0 10px;
}

.articleHeaderTitle {
	padding: 10px 0 0 0;
	font-family: neversaydie;
}

.articleHeadline {
	margin: 0 0 0 -10px;
	background-color: #cf3e43;
	padding: 10px 10px 10px 10px;
	width: 800px;
}

.galleryContainer {
	margin: 0 0 0 30px;
}

.imageHeadline {
	background-color: #cf3e43;
	padding: 10px 10px 10px 10px;
	width: 800px;
}

.imageContainer {
	margin:  0 0 0 10px;
}

.imageContainer a {
	text-decoration: none;
}

.galleryImage {
	float: left;
	margin: 0 10px 30px 0;
	width: 245px;
}

.galleryImage a {
	color: #ffffff;
}

.galleryImage a:hover {
	color: gray;
}

.galleryImage a:visited {
	color: #ffffff;
}